<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <meta name="description" content="<%= config.description %>">
    <link rel="shortcut icon" href="<%= url_for(theme.favicon) %>" type="image/x-icon" />
    <title>
        <% if (page.title) { %>
            <%= page.title %> |
        <% } %>
        <%= config.title %>
    </title>
    <%- css('css/style') %>
</head>